<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./ambulance.component.css">
    </head>
    <body>
        <div class="container">
            <div class="tytle"><p >
                Ambulance is on the way!
            </p><p>
                <!-- {{icu}} -->
            </p>
        </div>
            <div>
                <img src="/assets/amb.png">
            </div>
            <div class="des">
                <p>
                     <!-- <id="amb"></id> -->
                </p>
            </div>
        </div>
    </body>
</html>