<html>
<head>
	<title>IseeU</title>
	<link rel="stylesheet" type="text/css" href="vitals.component.css">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<div class="header">
  <!-- <h1>Header</h1> -->
  <p>Please fill the needed vitals</p>
</div>
<body>

    <!-- <h3 class="logo">logo here</h3> -->
    
				<form>
                    <label for="age">Age</label>
                    <input type="age" #age placeholder="age" required="" formControlName="age" type="text">
                    <br>
                    <br>
                    <div class="row">        
                        <label for="locationx">    LocationX</label>     
                        <p>                                   </p>   
                   <label for="locationy">LocationY</label>
              <br>

                    </div>
                    <div class="row">        
              <input class="n" type="locationx" name="locationx" placeholder="   LocationX" required="" formControlName="locationx" type="text">
              <p>          </p>
              <input type="locationy" name="locationy" placeholder="Locationy" required="" formControlName="locationy" type="text">
              <br>

                    </div>
                    
          <br>

          <div class="card-fotter">
          <label for="HR">HeartRate</label>
					<input type="HeartRate" #HR placeholder="heart rate" required=""  formControlName="HeartRate" type="text">
                    <label for="RR">RespiratoryRate</label>
					<input type="RespiratoryRate" #RR placeholder="respirtory rate" required="" formControlName="RespirtoryRate" type="text">
                    <label for="bp">Blood Pressure</label>
					<input type="Blood Pressure" #bp placeholder="blood pressure" required="" formControlName="bloodPressure" type="text">
                    <label for="SPO2">Oxygen Saturation</label>
          <input type="Oxygen Saturation" #SPO2 placeholder="oxygen saturation" required="" formControlName="oxygen saturation" type="text">
          <label for="cs">Consciousness</label>
          <input type="consciousness" #cs placeholder="consciousness" required="" formControlName="consciousness" type="text">
          <label for="tp">Temperature</label>
          <input type="temperature" #tp placeholder="temperature" required="" formControlName="temperature" type="text">
          
        
        <!-- </form> -->
        <!-- <div id="list1" class="dropdown-check-list" tabindex="100">
          <form>
          <span class="anchor">Other Symptoms</span>
          <ul class="items">
            <li><input type="checkbox" />Chronic Cough </li>
            <li><input type="checkbox" />Weakness</li>
            <li><input type="checkbox" />Nausea </li>
            <li><input type="checkbox" />Fatigue </li>
   
          </ul>
          </form>
        </div>        -->
        <label class="container">Covid-19 patient
            <input type="checkbox" id="cov" >
            <span class="checkmark"></span>
          </label>
        <label class="container">Chronic Cough
            <input type="checkbox" id="cc" >
            <span class="checkmark"></span>
          </label>
          <label class="container">Weakness
            <input type="checkbox" id="wk">
            <span class="checkmark"></span>
          </label>
          <label class="container">Nausea
            <input type="checkbox" id="n" >
            <span class="checkmark"></span>
          </label>
          <label class="container">Fatigue
            <input type="checkbox" id="fa" >
            <span class="checkmark"></span>
          </label>
          <label class="container">Post-Surgical care
            <input type="checkbox" id="sur">
            <span class="checkmark"></span>
          </label>
          <label class="container">Accident
            <input type="checkbox" id="acc">
            <span class="checkmark"></span>
          </label>
          <!-- <mat-checkbox (change)="checkCheckBoxvalue($event)">Check me!</mat-checkbox> -->

    </div> 
        <script type="text/typescript">      
          var checkList = document.getElementById('list1');
          if (checkList instanceof HTMLElement) {
           checkList.click();
         }
       checkList.getElementsByClassName('anchor')[0].onclick = function(evt) {
       if (checkList.classList.contains('visible'))
         checkList.classList.remove('visible');
       else
         checkList.classList.add('visible');
       }  
      </script>
        <button class="btn btn-danger" (click)="getVitals(age.value,HR.value,bp.value,RR.value,SPO2.value,cs.value,tp.value)">Submit</button>
        <!-- "getVitals(age.value,HR.value,bp.value,RR.value,SPO2.value,cs.value,tp.value)" -->
          <!-- <button (click) ="logout()" >Logout</button> -->
		</form>		
        
</body>


</html>