
<head>
	<title>IseeU</title>
	<link rel="stylesheet" type="text/css" href="vitals.component.css">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
<div class="header">
  <!-- <h1>Header</h1> -->
  <p style="font-weight:700;font-size: 30px;">Please fill the needed information</p>
  <hr style="margin-bottom: 40px;width:50%; margin-left: 25%;">
</div>


    <!-- <h3 class="logo">logo here</h3> -->
                <div class="form_div">
				
                    <label for="age">Age</label>
                    <input type="age" #age placeholder="age" required=""  type="text">
                    <br>
                    <br>
                    <div class="row_div" style="margin-left: 10%;">
                    <div class="xy">        
                        <label for="locationx" style="margin-left: 45%;">    LocationX</label>     
                        <p>                                   </p>   
                        <input class="n" style="width: 80%;" #locationx name="locationx" placeholder="LocationX" required=""  type="text">
                    <br>

                    </div>
                    <div class="xy">        
                    
                    <label for="locationy" style="margin-left: 45%;">LocationY</label>
                    <p>          </p>
                    <input type="locationy" style="width: 80%;" #locationy placeholder="LocationY" required=""type="text">
                    <br>
                    </div>
                    </div>
                    
          <br>

          <div class="card-fotter">
          <label for="HR">HeartRate</label>
					<input type="HeartRate" #HR placeholder="heart rate" required=""   type="text">
                    <label for="RR">RespiratoryRate</label>
					<input type="RespiratoryRate" #RR placeholder="respirtory rate" required=""  type="text">
                    <label for="bp">Blood Pressure</label>
					<input type="Blood Pressure" #bp placeholder="blood pressure" required=""  type="text">
                    <label for="SPO2">Oxygen Saturation</label>
                    <input type="Oxygen Saturation" #SPO2 placeholder="oxygen saturation" required=""  type="text">
                    <!-- <label for="cs">Consciousness</label>
                    <input type="consciousness" #cs placeholder="consciousness" required=""  type="text"> -->
                    <label for="tp">Temperature</label>
                    <input type="temperature" #tp placeholder="temperature" required=""  type="text">
          
        
        <!-- </form> -->
        <!-- <div id="list1" class="dropdown-check-list" tabindex="100">
          <form>
          <span class="anchor">Other Symptoms</span>
          <ul class="items">
            <li><input type="checkbox" />Chronic Cough </li>
            <li><input type="checkbox" />Weakness</li>
            <li><input type="checkbox" />Nausea </li>
            <li><input type="checkbox" />Fatigue </li>
   
          </ul>
          </form>
        </div>        -->
       
        <div class="check_div">
            <div class="check_semi_div" style="margin-left: 10%;">
                <label class="container">Covid-19 patient
                    <input class="lap" type="checkbox" id="cov" >
                    <span class="checkmark"></span>
                </label>
                <label class="container">Chronic Cough
                    <input class="lap"type="checkbox" id="cc" >
                    <span class="checkmark"></span>
                </label>
                <label class="container">Post-Surgical care
                    <input class="lap"type="checkbox" id="sur" >
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="check_semi_div">
                <div >
                <label class="container">Fatigue
                    <input class="lap"type="checkbox" id="fa" >
                    <span class="checkmark"></span>
                </label>
                <label class="container">Burns
                    <input class="lap"type="checkbox" id="burns">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Accident
                    <input class="lap"type="checkbox" id="acc">
                    <span class="checkmark"></span>
                </label> 
            </div>
        </div>
          <!-- <mat-checkbox (change)="checkCheckBoxvalue($event)">Check me!</mat-checkbox> -->

    </div> 
        <!-- <script type="text/typescript">      
          var checkList = document.getElementById('list1');
          if (checkList instanceof HTMLElement) {
           checkList.click();
         }
       checkList.getElementsByClassName('anchor')[0].onclick = function(evt) {
       if (checkList.classList.contains('visible'))
         checkList.classList.remove('visible');
       else
         checkList.classList.add('visible');
       }  
      </script> -->
        <button class="btn btn-danger" (click)="getVitals(locationx.value,locationy.value,age.value,HR.value,bp.value,RR.value,SPO2.value,tp.value)">Submit</button>
        <!-- "getVitals(age.value,HR.value,bp.value,RR.value,SPO2.value,cs.value,tp.value)" -->
          <!-- <button (click) ="logout()" >Logout</button> -->
			
    </div>
        
<!-- </body> -->


