<html>
<head>
	<title>IseeU</title>
	<link rel="stylesheet" type="text/css" href="app.component.css">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>

	<div class="main">
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">

    <!-- <h3 class="logo">logo here</h3> -->
				<!-- <form [formGroup]="signG"> -->
					<label for="chk" aria-hidden="true">Signin</label>
          <input type="text" #name placeholder="Username" required="" formControlName="name" type="text">
					<input type="email" #email placeholder="Email" required="" formControlName="Email" type="text">
					<input type="password" #pswd placeholder="Password" required="" formControlName="Password" type="text">
					<button (click)= "onSignin(email.value,pswd.value)">Sign up</button>
				<!-- </form> -->
			</div>
            <div class="signin">
				 <form *ngIf="!isSignedIn"> 
					<label for="chk" aria-hidden="true">Login</label>
					<input type="email" #email placeholder="Email" required=""  type="text">
					<input type="password" #pswd placeholder="Password" required=""  type="text">
					<button (click) ="onSignin(email.value,pswd.value)" >Login</button>
				</form> 
        <script>
             if (isSignedIn)
                   console.log("logged in")
        </script>
        <!-- <app-home *ngIf="isSignedIn" (isLogout)="handleLogout()"> </app-home>  -->
			</div>


	</div>
</body>
</html>
